*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A PREROUTING -p tcp --dport 80 -j REDIRECT --to-ports 3000
-A POSTROUTING -o __UPLINK_INTERFACE__ -j MASQUERADE
COMMIT
*filter
:INPUT ACCEPT [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A FORWARD -i __UPLINK_INTERFACE__ -o __WLAN_INTERFACE__ -m state --state RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -i __WLAN_INTERFACE__ -o __UPLINK_INTERFACE__ -j ACCEPT
COMMIT
