.container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.textarea {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    resize: vertical;
    min-height: 150px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.textarea:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.subtitle {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #555;
}

.description {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    max-width: 500px;
    /* Begrenze die Breite */
    margin: 0 auto;
    /* Zentriere die Beschreibung */
}

.classContainer {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1.5rem 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.classTitle {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    background-color: #e6f7ff;
    padding: 0.5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.form label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.emailFields {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1rem;
    justify-content: left;
}

.inputFile,
.inputEmail {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
}

.inputEmail {
    width: 200px;
    min-width: 180px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.inputEmail:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(72, 181, 97, 0.5);
}

.emailIndex {
    color: #777;
    font-size: 0.8rem;
    margin-right: 5px;
}

.message {
    margin-top: 10px;
    color: #d9534f;
    font-weight: 600;
}

.button,
.redButton,
.addButton {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.5rem;
}

.button {
    background-color: #4a90e2;
}

.button:hover {
    background-color: #357abd;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.redButton {
    background-color: #f44336;
}

.redButton:hover {
    background-color: #d32f2f;
}

.addButton {
    background-color: #4CAF50;
    margin-top: 10px;
}

.addButton:hover {
    background-color: #45a049;
}

.progress {
    width: 100%;
    max-width: 300px;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-top: 10px;
    overflow: hidden;
    display: inline-block;
}

.progress::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #4a90e2, #357abd);
    animation: loading 1.5s linear infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.popup {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    border: none;
    width: 90%;
    max-width: 600px;
    max-height: 70%;
}

.popup::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.popupContent {
    background: #fff;
    padding: 2rem;
    overflow-y: auto;
}

.popup h2 {
    margin-bottom: 1rem;
    font-weight: 600;
}

.closeButtonX {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.popupButtons {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.indicator {
    font-size: 1rem;
    color: #4a90e2;
    margin-top: 10px;
}