.container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.subHeader {
  font-size: 1.5rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #4a90e2;
  padding-bottom: 5px;
}

.section {
  margin-bottom: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tableHeader {
  background-color: #4a90e2;
  color: white;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  /* Zeigt an, dass die Header anklickbar sind */
}

.tableHeader::after {
  content: '';
  margin-left: 5px;
}

.tableHeader[data-sort='ascending']::after {
  content: '▲';
}

.tableHeader[data-sort='descending']::after {
  content: '▼';
}

.tableCell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.stats {
  font-size: 1.2rem;
  margin-top: 10px;
}

.toggleHeader {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 1.5rem;
  border-bottom: 2px solid #4a90e2;
}

.section table,
.section div {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
}

.hidden {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}