PI_USER=pi
APP_DIR=/home/pi/sponsorenlauf-tool
REPO_URL=https://github.com/Florian2807/sponsorenlauf-tool.git
REPO_BRANCH=main
# Maximum number of automatic SQLite snapshots retained in APP_DIR/backups.
SPONSORENLAUF_MAX_BACKUPS=20
AP_SSID=Sponsorenlauf Backend
AP_PASSPHRASE=Sponsorenlauf!
AP_DOMAIN=sponsorenlauf.de
WLAN_INTERFACE=wlan0
UPLINK_INTERFACE=eth0
AP_IP=10.0.0.1
DHCP_RANGE_START=10.0.0.5
DHCP_RANGE_END=10.0.0.200
SERVICE_NAME=sponsorenlauf
MIN_FREE_SPACE_MB=1500
